.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

header {
  background-image: url("../assets/bgImage1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
}

.flexHeading {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0 0 30px 0;
}

.gradient{
  background: linear-gradient(#43839F, 25%, #FAEEDE);
}

h2 {
  margin: 0;
  padding: 65px 0 30px 0;
}

h3 {
  margin-bottom: 65px;
}

.fadeIn,
.instructions {
  animation: fadeIn 5s;
  @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
}

.instructions {
  padding: 30px 0;
  padding-top: 65px;
}

.citySelectFlex {
  display: flex;
  flex-wrap: wrap;
  // padding-bottom: 40px;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: calc(50% - 12px);
  margin: 20px 5px;
  border: none;
  border-radius: 30px;
  box-shadow: 14px 14px 10px -1px rgba(71, 74, 64, 0.7);
  padding: 10px 10px;
  max-width: 330px;
  cursor: pointer;
  transition: all;
  position: relative;
  top: 0px;
  &:hover {
      background-color: rgb(242, 242, 157);
    }
  &:focus {
      background-color: rgb(242, 242, 157);
    }
}

button:active {
  position: relative;
  top: 5px;
}

select {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 10px;
  border-radius: 15px;
  border: none;
  max-width: 550px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

li {
  margin: 7px;
  height: 100px;
  width: calc(100% / 3);
  color: black;
  background-color: #85aab6;
  border-radius: 30px;
  box-shadow: 14px 14px 10px -1px rgba(71, 74, 64, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 10px;
  max-width: 200px;
}

.search {
  padding-bottom: 50px;
}

.citySearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#citySearchBar {
  border-radius: 15px;
  padding: 10px 10px;
  width: 80%;
  margin-top: 20px;
  max-width: 377px;
  font-family: 'Tilt Neon', cursive;
}

.searchInstructions {
  margin-bottom: 40px;
}

.moreOptions {
  margin: 0 auto;
  margin-top: 20px;
  padding: 10 15px;
}

.singleRadioContainer {
  margin-top: 10px;
  margin-bottom: 15px;
}

footer {
  background-color: #28455e;
}

footer p {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}