body,
button,
select {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
}

option {
  font-family: 'Tilt Neon', cursive;
  font-weight: 400;
}

h1 {
  font-family: 'Tilt Neon', cursive;
  font-weight: 700;
  font-size: 36px
}

h2 {
  font-family: 'Manrope', sans-serif;
}

h2,
p,
button,
li {
  font-weight: 400;
}

p {
  text-align: left;
  line-height: 1.5;
}
